/* Style de l'en-tête et de la barre de navigation */
header {
    display: flex;
    background: linear-gradient(to bottom right, rgb(99, 7, 112), rgb(189, 65, 3)); /* Dégradé transparent */
    padding: 15px 0;
    box-shadow: 0px 0px 20px black;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}

.navbar {
    height: 95%;
    width: 80%;

}

.container-nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.brand{

}
.nav-links{
}

img.logo{
    width: 40%;
}

.auth-buttons{
    display: flex;
    flex-direction: row;
}

a.btn-navBar{
    /*background-color: rgb(11, 0, 0); !* Couleur de fond transparente *!*/
    color: #fafafa;
    border: 2px solid white;
    border-radius: 10px;

    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;

    font-size: 2vh;
    text-decoration: none;
    backdrop-filter: blur(100px);
    transition: 0.2s;

}

.btn-navBar:hover{
    backdrop-filter: blur(100px);
    font-size: 2.3vh;
    /*background-color: rgba(0, 0, 255,0.8);*/
    padding: 7px 15px;
}

h2.navbar,h3.navbar{
    background-color: rgb(52, 52, 195); /* Couleur de fond transparente */
    color: #fafafa;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 2vh;
}
h2.active{
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-size: 0.7em;
}

.footer-content a {
    color: #f8735c;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

div.footer-content p{
    color: white;
}