/* Style de l'en-tête et de la barre de navigation */
header {
    background: linear-gradient(to bottom right, rgba(211, 208, 208, 0.1), rgba(133, 109, 133, 0.5)); /* Dégradé transparent */
    padding: 20px 0;
    font-family: Arial;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 0px 20px black;
}

.navbar {
    height: 95%;
    width: 95%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: inline-flex;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;

}
.container-nav{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.brand{

}
.nav-links{

}
.auth-buttons{
    display: inline-flex;

}

.btn-login, .btn-signup, a{
    background-color: rgba(0, 0, 255,0.5); /* Couleur de fond transparente */
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px; /* Coins arrondis */
    font-size: 2vh;

    backdrop-filter: blur(100px);
    transition: 0.2s;
}

.btn-login:hover, .btn-signup:hover, a:hover{
    backdrop-filter: blur(100px);
    font-size: 2.3vh;
    background-color: rgba(0, 0, 255,0.8);
    margin: 2px;
}

a{
    text-decoration: none;
}
h2.connected{
    background-color: rgba(0, 0, 255,0.5); /* Couleur de fond transparente */
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px; /* Coins arrondis */
    font-size: 2vh;
}