/* styles.css */

/* Reset de la marge et du padding */
*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #151515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.GestionEvent{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}
th, td {
    border-top: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
a.btn-ListEvent{
    color: white;
    margin: 0px;
}