/* styles.css */

/* Reset de la marge et du padding */
*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #151515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
div.GestionEvent{
    background: #d8d8d8;
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-scrolling: auto;
    overflow: scroll;
    overflow-x: auto;

    margin: 10px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
}

div.titleBox{
    display: flex;
    justify-content: space-around;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    padding: 15px;
}
th, td {
    border-top: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
a.btn-ListEvent{
    color: white;
    margin: 0px;
}

div.footer{
    margin-top: 20vh;
}